@charset "utf-8";
/* CSS Document */
.logo {
    width: 130px;
    background-color: #fff;
    float: left;
    height: 125px;
	margin-top: 10px;
}
.text-logo-div {
    float: left;
    width: 889px;
    height: 125px;
    background:url(../../images/header-bg.jpg);
	margin-left: 130px;
    margin-top: -125px;
}
h2 {
    padding: 30px 0px 0px 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 29px;
    color: #005672;
    font-weight: 200;
}
h3 {
    margin-top: 0px;
    font-size: 15px;
    color: #000;
    font-weight: 200;
    padding-left: 15px;
}
h3 {
    margin-top: 0px;
    font-size: 15px;
    color: #000;
    font-weight: 200;
    padding-left: 15px;
}
.img1{
	float: right;
    margin-top: -120px;
    margin-right: 19px;
}
.marquee-box {
    width: 1020px;
    height: 31px;
    background-color: #fff;
    border: 1px solid #0086b2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}
